# AULA 01 - PARA CASA

## Execute as células abaixo para carregar os dados em um DataFrame chamado `penguins`.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
penguins = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')

In [17]:
penguins.head(11)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN

## Selecione a coluna `species`.

In [9]:
penguins["species"]

0      Adelie
1      Adelie
2      Adelie
3      Adelie
4      Adelie
        ...
339    Gentoo
340    Gentoo
341    Gentoo
342    Gentoo
343    Gentoo
Name: species, Length: 344, dtype: object

## Selecione as colunas `species`, `island` e `body_mass_g`.

In [8]:
penguins[["species","island","body_mass_g"]]

    species     island  body_mass_g
0    Adelie  Torgersen       3750.0
1    Adelie  Torgersen       3800.0
2    Adelie  Torgersen       3250.0
3    Adelie  Torgersen          NaN
4    Adelie  Torgersen       3450.0
..      ...        ...          ...
339  Gentoo     Biscoe          NaN
340  Gentoo     Biscoe       4850.0
341  Gentoo     Biscoe       5750.0
342  Gentoo     Biscoe       5200.0
343  Gentoo     Biscoe       5400.0

[344 rows x 3 columns]

## Selecione a linha de índice `10` (a 11ª linha).

In [ ]:
#nota:
# iloc[10] - seleciona pela posição (11ª linha, pois começa do 0)
# loc[10] - seleciona pelo índice (linha com rótulo 10)


penguins.iloc[10].reset_index()

               index         10
0            species     Adelie
1             island  Torgersen
2     bill_length_mm       37.8
3      bill_depth_mm       17.1
4  flipper_length_mm      186.0
5        body_mass_g     3300.0
6                sex        NaN

## Selecione o valor da coluna `flipper_length_mm` na linha de índice `10`.

In [15]:
penguins["flipper_length_mm"].iloc[10]

np.float64(186.0)

## Filtre o DataFrame para manter apenas as linhas em que `species` é igual a `Gentoo`.

In [ ]:
bol = penguins["species"] =="Gentoo"
penguins[bol]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
220,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,FEMALE
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,MALE
222,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,FEMALE
223,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,MALE
224,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,MALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

## Filtre o DataFrame para manter apenas as linhas em que:
- `species` é `Adelie`
- `sex` é `female`
- `body_mass_g` é maior que `3500`

In [24]:
# etapa1 = penguins[["species","sex"]]=="Adelie", "female"    cria uma tupla, nao comparações booleanas
# etapa2 = penguins["body_mass_g"]>=3500

# penguins[etapa1,etapa2]  combinar com o peradores logicos, nao com virgula. nesse caso o &

#fazendo de forma mais compacta

penguins[(penguins["species"]=="Adelie")& (penguins["sex"]=="female")& (penguins["body_mass_g"]>3500)].reset_index()

Empty DataFrame
Columns: [index, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex]
Index: []

## Mostre os valores únicos da coluna `island`.

In [25]:
penguins["island"].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

## Obtenha o **menor** e o **maior** valor da coluna `body_mass_g`.

In [28]:
penguins["body_mass_g"].agg(["min","max"])

min    2700.0
max    6300.0
Name: body_mass_g, dtype: float64

## Conte quantos valores ausentes existem em cada coluna.

In [31]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

## Ordene o Dataframe do menor para o maior valor da coluna `body_mass_g`.

## Conte a quantidade de penguins que tem em cada ilha (`island`).

## Faça um histograma da coluna `body_mass_g`.

## Crie um boxplot de `body_mass_g` por `species`.

## Faça um scatterplot de `flipper_length_mm` (eixo x) vs `body_mass_g` (eixo y), colorindo por `species`.

## Crie um gráfico de contagem (`countplot`) para `species`.

## Verifique quantos valores vazios existem em cada coluna.

## Substitua valores vazios em `sex` por `'Unknown'` (modificando o próprio DataFrame `df`).

## Substitua valores vazios em `body_mass_g` pela mediana da própria coluna.

## Substitua valores vazios em `bill_length_mm` pela média de `bill_length_mm` **dentro de cada `species`**.

## Crie a coluna `body_mass_kg` a partir de `body_mass_g`.

## Crie a coluna `bill_ratio` como `bill_length_mm / bill_depth_mm`.

## Crie a coluna `is_heavy` que vale `True` quando `body_mass_g` for maior ou igual a 4500 e `False` caso contrário.

## Crie a coluna `mass_class` com `'acima'` quando `body_mass_g` for maior que a média e `'abaixo'` caso contrário.